<div class="header-container">
  <div class="left-icons">
    <mat-icon aria-hidden="false" aria-label="Home" style="margin: 5px;" (click)="onHome()"
      >home</mat-icon
    >
    <mat-icon aria-hidden="false" aria-label="Refresh" style="margin: 5px 5px 5px 10px;" (click)="onHome()">refresh</mat-icon>
    <h1 class="title">{{ pageTitle }}</h1>
  </div>
  <div class="right-icons title" style="font-size: 20px;">Logout</div>
  <div class="right-icons">
    <mat-icon aria-hidden="false" aria-label="Exit" (click)="onExit()">highlight_off</mat-icon>
    <!-- <img src="../../assets/icons/2561211_circle_x_icon.svg" alt="" /> -->
  </div>
</div>
