* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2d3e50;
}

.footer-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5%;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

p {
  padding-left: 0.75em;
  color: ivory;
}
