.toggle-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-btn {
  border-radius: 8px;
}

.right-btn {
  border-radius: 8px;
}

/* CHANGE COLOR ON HOVER */
.left-btn:hover {
  background-color: var(--highlight-color);
}

.left-btn mat-icon:hover {
  color: var(--highlight-text);
}

.right-btn:hover {
  background-color: var(--highlight-color);
}

.right-btn mat-icon:hover {
  color: var(--highlight-text);
}
