* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.my-row {
display: grid;
width: 100%;
grid-gap: 0px;
grid-template-columns: [first] 15% [line2] 60% [end] 15%;;
margin: .5%;
}

.hide {
  display: none;
}

.small {
  grid-column: span 1;
  border: 2px solid red;
}

.medium {
  grid-column: span 2;
  border: 2px solid black;
}

.large {
  grid-column: span 3;
  border: 2px solid green;
}

/*
.my-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-left: 0;
} */

.left-col {
  display: flex;
  flex-direction: column;
  border: 2px solid lightgray;
  background-color: var(--text-color);

  min-width: 15%;
  left: 0;
  margin-left: 2.5%;
}

.dashboard-form {
  position: absolute;
  margin-top: 10%;
}


.center-col {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 100%;
}

.right-col {
  display: flex;
  flex-direction: column;
  border: 2px solid lightgray;
  min-width: 15%;
  right: 0;
  margin-right: 2.5%;
}

.toggle-left-sidebar {
  transform: translateX(-100%);
}

.toggle-right-sidebar {
  transform: translateX(100%);
}
