<div class="my-container">
  <div>
    <app-header></app-header>
  </div>

  <div class="my-row">
    <app-left-sidebar
      class="small"
      id="leftBar"
      appToggleLeftSidebar></app-left-sidebar>

    <app-dashboard-form
      class="dashboard-form"
      *ngIf="addDashboard"
    ></app-dashboard-form>
    <app-main-grid
      class="small"
      id="centerContent"></app-main-grid>

    <app-right-sidebar
      class="small"
      id="rightBar"
      appToggleRightSidebar
    ></app-right-sidebar>
  </div>

  <app-footer></app-footer>
</div>
