<!-- Initial layout// css classes still need to be defined and/or bootstrap installed -->

<div class="my-container">
  <div>
    <!-- Header -->
    <app-header></app-header>
  </div>
  <div class="my-row">
    <div class="left-col">
      <!-- Left Component -->
      <app-left-sidebar></app-left-sidebar>
    </div>

    <div class="center-col">
      <!-- Main Grid -->
      <app-main-grid></app-main-grid>
    </div>

    <div class="right-col">
      <!-- Right Component -->
      Right column goes here.
    </div>
  </div>
  <div>
    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</div>
