<!-- Initial layout// css classes still need to be defined and/or bootstrap installed -->

<div class="container">
  <div class="row">
    <!-- Header -->
    Header goes here.
  </div>
  <div class="row">
    <div class="col-xs-2">
      <!-- Left Component -->
      Left column goes here.
    </div>

    <div class="col-xs-8">
      <!-- Main Grid -->
      Main Grid goes here.
    </div>

    <div class="col-xs-2">
      <!-- Right Component -->
      Right column goes here.
    </div>
  </div>

  <div class="row">
    <!-- Footer -->
    Footer goes here.
  </div>
</div>
