* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.my-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-left: 0;
  overflow-x: hidden;
}

.left-col {
  display: flex;
  flex-direction: column;
  background-color: var(--field-color);
  width: 10%;
  left: 0;
}

.dashboard-form {
  position: absolute;
  margin-top: 10%;
}

.center-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right-col {
  display: flex;
  flex-direction: column;
  background-color: var(--field-color);
  width: 10%;
  right: 0;
}
