<!-- ENTIRE SIDEBAR -->
<div class="sidebar-container">
  <!-- ADD DASHBOARD -->
  <button class="add" type="button" (click)="onAddDashboard()">
    <mat-icon aria-hidden="false" aria-label="Add">add</mat-icon>
  </button>
  <!-- DELETE DASHBOARD -->
  <button class="remove" type="button" (click)="onConfirmDelete()">
    <mat-icon aria-hidden="false" aria-label="Remove">remove</mat-icon>
  </button>
  <!-- DASHBOARD LINKS, DISPLAYED WHEN OPEN -->
  <div class="left-sidebar">
    <h6 class="lead">Dashboards:</h6>
    <a
      *ngFor="let dashboard of dashArray; let i = index"
      [dashboard]="dashboard"
      [index]="i"
      (click)="onDashboardSelected(dashboard, i)"
    >
      <p class="list-group-item-text">{{ dashboard.name }}</p>
    </a>
  </div>
</div>
<!-- CONFIRMATION OF DELETE -->

<app-confirm-delete *ngIf="!confirmed" [index]="index"></app-confirm-delete>

<!-- ALERT MODAL, CONFIRM DELETE MSG-->
<app-alert *ngIf="dashWasDeleted"> </app-alert>
