<!-- ENTIRE SIDEBAR -->
<div class="sidebar-container">
  <!-- OPEN BUTTON, DISPLAYED -->
  <button class="toggle-btn">
    <mat-icon aria-hidden="false" aria-label="Menu">menu</mat-icon>
  </button>
  <!-- CONTENT LINKS, DISPLAYED WHEN OPEN -->
  <div class="left-sidebar" >
    <h6 class="lead" >Dashboards:</h6>
    <a cursor= "pointer" *ngFor="let dashboard of dashArray;let i = index" [dashboard] = "dashboard" [index] = "i">
      <p class="list-group-item-text" (click)="onSelectDash()">{{dashboard.name}}</p>
    </a>
  <button type="button" (click)="onAddDashboard()">
    <mat-icon>add</mat-icon>
  </button>
  </div>
</div>
