/* SIDEBAR BOX */
.sidebar {
  width: 15%;
  height: 100%;
  background-color: lightgray;
  position: relative;
}

/* SIDEBAR CONTENT LINKS */
.sidebar a {
  display: block;
  width: 15vmin; /* LOWERED TO 15 TO FIT COLUMN WITHOUT OVERLAP */
  height: 100vmin;
  padding-top: 50px;
  left: 0;
  font-size: 18px;
  color: black;
  background-color: lightgray;
  transition: 0.5s ease;
}

/* CHANGE COLOR OF CONTENT LINKS ON HOVER */
.sidebar a:hover {
  background-color: lightslategray;
}

/* TOGGLE BUTTON */
.togglebtn {
  position: absolute;
  top: 0;
  /* right: 25px;
  margin-left: 50px; */
  font-size: 20px;
  color: black;
  background-color: lightgray;
  border: none;
  padding: 10px 15px;
  box-shadow: 0px 1px 4px 1px darkgray;
  cursor: pointer;
  z-index: 1;
}

/* CHANGE COLOR OF TOGGLE BUTTON ON HOVER */
.togglebtn:hover {
  background-color: lightslategray;
}

/* PUSH CONTENT OF MAIN PAGE TO RIGHT WHEN YOU OPEN LEFT SIDEBAR */
.main {
  transition: margin-left 0.5s ease;
  padding: 20px;
}

/* CHANGE PADDING AND FONT SIZE FOR SMALLER SCREENS */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* MOBILE FIRST STYLING */
@media only screen and (min-width: 600px) {
  /* for tablets */
  .col-1 {
    width: 25%;
  } /* left sidebar */
  .col-2 {
    width: 50%;
  } /* main content */
  .col-3 {
    width: 25%;
  } /* right sidebar */
}
@media only screen and (min-width: 768px) {
  /* for desktops */
  .col-1 {
    width: 25%;
  } /* left sidebar */
  .col-2 {
    width: 50%;
  } /* main content */
  .col-3 {
    width: 25%;
  } /* right sidebar */
}
