
/* ENTIRE SIDEBAR CONTAINER */
.sidebar-container {
  height: 100vh;
  position: relative;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

/* SIDEBAR CONTENT BOX */
.content {

  height: 100vh;
  position: relative;
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
}

/* SIDEBAR CONTENT LINKS */
.content a {
  display: block;
  left: 0;
  align-items: left;
  font-size: 25px;
  color: var(--aw-blue);
  background-color: var(--text-color);
}

/* CHANGE COLOR OF CONTENT LINKS ON HOVER */
.content a:hover {
  background-color: lightslategray;
}

/* TOGGLE BUTTON */
.togglebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: var(--text-color);
  background-color: var(--aw-blue);
  border: none;
  padding: 10px 15px;
  box-shadow: 0px 1px 4px 1px darkgray;
  cursor: pointer;
  z-index: 1;
}

/* CHANGE COLOR OF TOGGLE BUTTON ON HOVER */
.togglebtn:hover {
  background-color: lightslategray;
}

/* PUSH CONTENT OF MAIN PAGE TO RIGHT WHEN YOU OPEN LEFT SIDEBAR */
/* .container-grid {
  transition: left-margin 1.0s ease-in-out;
  padding: 20px;
} */

/* CHANGE PADDING AND FONT SIZE FOR SMALLER SCREENS */
@media screen and (max-height: 450px) {
  .content {padding-top: 15px;}
  .content a {font-size: 18px;}
}

/* MOBILE FIRST STYLING */
@media only screen and (min-width: 600px) {
  /* for tablets */
  .col-1 {width: 15%;} /* left sidebar */
  .col-2 {width: 70%;} /* main content */
  .col-3 {width: 15%;} /* right sidebar */
}
@media only screen and (min-width: 768px) {
  /* for desktops */
  .col-1 {width: 15%;} /* left sidebar */
  .col-2 {width: 70%;} /* main content */
  .col-3 {width: 15%;} /* right sidebar */
}
