.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin-left: 1%;
}

<<<<<<< Updated upstream
mat-icon {
  margin-right: 1%;
=======
mat-icon{
  margin-right: 1%
>>>>>>> Stashed changes
  margin-left: auto;
}
