<div class="card" *ngIf="dbItem.display_type == 1">
  <div class="card-header">
    <h5 class="item-title p-2">{{ dbItem.name }}</h5>
  </div>
  <div class="card-body">
    <div id="information">
      <span id="name" class="heading">Name</span>
      <span id="pn" class="heading">Part No</span>
      <span id="qty" class="heading">Feet<span class="scale">Thousands</span></span>
      <span id="sold" class="heading">Total<span class="scale">Thousands</span></span>
    </div>
    <div *ngFor="let salesman of dbItem.salesman">
      <span>{{ salesman.name }}</span>
      <span>{{ salesman.part_number }}</span>
      <span>{{ (salesman.qty_wire).toLocaleString('en-US') }}</span>
      <span>${{ (salesman.dollar_amount_sold * salesman.qty_wire).toLocaleString('en-US',{maximumFractionDigits: 0}) }}</span>
    </div>
</div>

<div class="card" *ngIf="dbItem.display_type == 2">
  <div class="card-header">
    <h5 class="item-title p-2">Total {{ dbItem.name }}</h5>
    <div class="row">
      <div class="col-md-6"><h6 class="lead">Total Qty Sold:</h6></div>
      <div class="col-md-6">
        <h3>{{ totalQty }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"><h6 class="lead">Total $$ Sold:</h6></div>
      <div class="col-md-6">
        <h3>${{ totalDollar }}</h3>
      </div>
    </div>
  </div>
</div>
