<div class="card">
  <div class="card-header">
    <h5 class="item-title p-2">{{ dbItem.name }}</h5>
  </div>
  <div class="card-body">
    <table>
      <thead>
        <th>Name</th>
        <th>Part Number</th>
        <th>Qty Wire</th>
        <th>Dollar Amount Sold</th>
      </thead>
      <tbody *ngFor="let salesman of dbItem.salesman">
        <td>{{ salesman.name }}</td>
        <td>{{ salesman.part_number }}</td>
        <td>{{ salesman.qty_wire }}</td>
        <td>{{ salesman.dollar_amount_sold }}</td>
      </tbody>
    </table>
  </div>
</div>
