
.card {
  z-index: 0.5;
}

.card-header {
  background-color: rgb(235, 112, 112);
  color: white;
}
.card-body>div {
  display: grid;
  grid-template-columns: 1.5fr repeat(3,1fr);
}
.card-body>div :nth-child(n+3) {
  text-align: right;
}

.card-text {
  padding: 0.5rem;
}

.delete {
  margin-left: auto;
  margin-top: .5rem;
  cursor: pointer;
}

.edit {
  margin-top: .5rem;
  cursor: pointer;
}

.heading {font-weight: bold;}

.scale {
  font-size: x-small;
  color: gray;
  display: block;
  font-style: italic;
  font-weight: normal;
  padding: 0;
}
