<div id="workarea">
  <div id="my-container">
      <app-header id="header"></app-header>

    <div id="my-row" [ngClass]="{
        noSides: !showLeftColumn && !showRightColumn,
        noLeft: !showLeftColumn,
        noRight: !showRightColumn,
        bothSides: showLeftColumn && showRightColumn
      }">
      <app-left-sidebar class="left-col" id="leftBar" *ngIf="showLeftColumn"></app-left-sidebar>


      <div class="center-col">
        <app-toggle
        (leftClick)="handleLeftClick($event)"
        (rightClick)="handleRightClick($event)"
        ></app-toggle>
        <app-main-grid></app-main-grid>
        <app-dashboard-form
        class="dashboard-form"
        *ngIf="addDashboard"
      ></app-dashboard-form>
      </div>
      <app-right-sidebar
        class="right-col"
        id="rightBar"
        *ngIf="showRightColumn"
      ></app-right-sidebar>
    </div>

    <app-footer id="footer"></app-footer>
  </div>
</div>
