* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

#workarea {
  height: 100% !important;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-template-areas: "workarea";
}

#my-container {
  max-height: 100% !important;
  overflow: hidden;
  grid-area: workarea;
  display: grid;
  grid-template-rows: 90px 1fr 40px;
  grid-template-areas: "header" "myrow" "footer";
}

#header {
  grid-area: header;
  height: 90px;
}
#footer {
  grid-area: footer;
}

#my-row {
  grid-area: myrow;
  display: grid;
  width: 100%;
  grid-template-columns: 190px 1fr 190px;
  overflow: scroll;
}
.bothSides {
  grid-template-areas: "left center right";
}
.noLeft {
  grid-template-areas: "center center right";
}
.noRight {
  grid-template-areas: "left center center";
}
.noSides {
  grid-template-areas: "center center center";
}

.left-col {
  grid-area: left;
  display: flex;
  flex-direction: column;
  background-color: var(--field-color);
  left: 0;
}

.dashboard-form {
  min-width: max-content;
  z-index: 999;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 10%;
}

.center-col {
  grid-area: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right-col {
  grid-area: right;
  display: flex;
  flex-direction: column;
  background-color: var(--field-color);
  right: 0;
}


 button.add mat-icon {
  font-size: 16px;
}

@media only screen and (min-width: 1440px) {
  #workarea {
    grid-template-columns: auto 1440px auto;
    grid-template-areas: ".. workarea ..";
  }
  #my-container {
    grid-column: 2;
  }
}


